{% extends "base.html" %}
{% block content %}



<div class="container mt-2">

    <form method="get" class="row g-2 align-items-end">
        <div class="col-6 col-sm-auto">
            <label for="start_date" class="form-label  mb-1">Start Date</label>
            <input type="date" id="start_date" name="start_date" value="{{ start_date }}"
                class="form-control form-control-sm bg-white text-dark" >
        </div>

        <div class="col-6 col-sm-auto">
            <label for="end_date" class="form-label mb-1">End Date</label>
            <input type="date" id="end_date" name="end_date" value="{{ end_date }}"
                class="form-control form-control-sm bg-white text-dark">
        </div>

        <div class="col-12 col-sm-auto">
            <button type="submit" class="btn btn-sm btn-primary w-100 mt-3 mt-sm-0">Filter</button>
        </div>
    </form>
</div>


<div class="container py-4">
    <h4 class="mb-4">Asset List</h4>
    <table class="table table-bordered table-striped">
        <thead class="table-light">
            <tr>
                <th>Asset Code</th>
                <th>Name</th>
                <th>Value</th>
                <th>Current Value</th>
                <th>Purchase Date</th>
                <th>Depreciation Rate (%)</th>
                <th>Last Depreciation</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in page_obj %}
            <tr>
                <td>{{ asset.asset_code }}</td>
                <td>{{ asset.name }}</td>
                <td>৳ {{ asset.value|floatformat:2 }}</td>
                <td>৳ {{ asset.current_value|floatformat:2 }}</td>
                <td>{{ asset.purchase_date }}</td>
                <td>{{ asset.depreciation_rate }}</td>
                <td>{{ asset.last_depreciation_date }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="7" class="text-center">No assets found.</td></tr>
            {% endfor %}
        </tbody>
    </table>
      <!-- Pagination Controls -->
     <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
<a href="{% url 'finance:profit_loss_report' %}?start_date={{ start_date|date:"Y-m-d" }}&end_date={{ end_date|date:"Y-m-d" }}" class="btn btn-secondary mt-4">
    ← Back to Profit & Loss
</a>
</div>

{% endblock %}
