
{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid main-content">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card shadow-lg" style="background-color: aliceblue;">
                 <!-- Card Header -->
                 <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0"> {% if instance %} Update {% else %} Create {% endif %}</h3>
                </div>              
                <form method="POST" enctype="multipart/form-data" class="p-2 m-4">
                    {% csrf_token %}
                    {{ form.as_p }}   
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg"> {% if instance %} Update {% else %} Add {% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center p-2">Name</th>
                        <th class="text-center p-2">logo</th>
                        <th class="text-center p-2">Contac Person</th>  
                        <th class="text-center p-2">Email</th>    
                        <th class="text-center p-2">Phone</th>      
                        <th class="text-center p-2">Website</th>               
                        <th class="text-center p-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in page_obj %}
                        <tr>
                            <td class="text-center p-1">{{ data.name }}</td>
                            <td>
                                {% if data.logo %}
                                <img src="{{ data.logo.url }}" class="card-img-top rounded-circle" alt="{{ data.name }}" style="width:30px;height:30px;">
                                {% endif %}
                            </td>
                            <td class="text-center p-1">{{ data.contact_person}}</td>                            
                            <td class="text-center p-2" style="white-space: nowrap;">{{data.email}}</td>
                            <td class="text-center p-2" style="white-space: nowrap;">{{data.phone}}</td>
                            <td class="text-center p-2" style="white-space: nowrap;">{{data.website}}</td>
                           
                           
                            <td class="text-center">
                                <a href="{% url 'inventory:create_supplier' %}" class="btn btn-sm btn-info">Add</a>
                                <a href="{% url 'inventory:update_supplier' data.id %}" class="btn btn-sm btn-info">Edit</a>
                               
                                <a href="#" 
                                    class="btn btn-danger btn-sm" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#deleteModal" 
                                    data-id="{{ data.id }}" 
                                    data-name="{{ data.name }}">
                                        Delete
                                    </a>
                               
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No records available.</td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
                    
            <!-- Pagination Controls -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>


             <!-- Delete Confirmation Modal -->
             <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete the transport record: <strong id="modal-entity-name"></strong>?
                        </div>
                        <div class="modal-footer">
                            <form method="post" id="delete-form">
                                {% csrf_token %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>


<script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget; 
        const entityId = button.getAttribute('data-id');
        const entityName = button.getAttribute('data-name');

          const modalEntityName = deleteModal.querySelector('#modal-entity-name');
        modalEntityName.textContent = entityName;
  
        const deleteForm = deleteModal.querySelector('#delete-form');
        deleteForm.action = `/inventory/delete_supplier/${entityId}/`;
    });
</script>




{% endblock %}