
{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-12 table-responsive">


    <h2>Admit Card for {{ student.name }}</h2>

    <table>
      <thead>
        <tr>
          <th>Exam</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for exam in exam_types %}
        <tr>
          <td>{{ exam.exam.name }}</td>
          <td>{{ exam.exam_date|date:"d M Y" }}</td>
          <td>
            <a href="{% url 'students:preview_admit_card' student.id exam.id %}" target="_blank">
              Download Admit Card
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">No exams found for this student.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}
