
{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="row">       

        <div class="col-12 col-md-4">
            <div class="card shadow-lg" style="background-color: aliceblue;">
                <!-- Card Header -->
                <div class="card-header bg-primary text-white text-center">
                    <h4>Assign Permissions to User</h>
                </div> 
                <div class="card-body">                       
                    <form method="post" enctype="multipart/form-data" action="" id="add_customer">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button type="submit" name="customer_submit"value="customer_submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </form>
                 </div>
            </div>           
        </div>
        <div class="col-12 col-md-8">
            <h2>User Permissions</h2>
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th>User</th>
                    <th>Permissions</th>
                </tr>
                </thead>
                <tbody>
                {% for data in page_obj %}
                    <tr>
                        <td>{{ data.username }}</td>
                        <td>
                            {% if data.user_permissions.all %}
                            <ul>
                                {% for perm in data.user_permissions.all %}
                                    <li>{{ perm }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                                <p>No permissions assigned</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
             <!-- Pagination Controls -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

        </div>
        
       
    </div>
</div>


<div style="height:1000px"></div>




{% endblock %}