{% extends 'sub_base.html' %}

{% block content %}




<div class="container-fluid main-content">
    <div class="row">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-6">
            <div class="card shadow-lg" style="background-color: aliceblue;">
                <!-- Card Header -->
            <div class="card-header bg-primary text-white text-center">
               <h3 class="mb-0">Tenant renewal application</h3>
           </div>      
                <div class="card-body">
                    {% if subscription.expiration_date < current_date %}
                    <h4 style="color:coral">Your Subscription has been expired</h4>
                    <h2 style="color:green;font-weight: bolder;">Renew Your Subscription</h2>
                    {% endif %}
                                                           
                    
                    <p>You are renewing the subscription for {{ subscription.tenant.name }}.
                    for {{ plan.duration }} Months with ${{ plan.price }}</p>
                    <p>Your current plan: {{ current_plan.duration }} Months:${{ current_plan.price }}</p>
                    <p>Current expiration date: {{ subscription.expiration_date }}</p>
                    
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success w-100" type="submit" onclick="proceed()">renew now</button>
                    </form>
                    

                 </div>
            </div>           
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
</div>


    
<script>
    function proceed() {       
        function showLoadingMessage() {
                if (!document.querySelector('.loader-container')) {
                    const loaderContainer = document.createElement('div');
                    loaderContainer.className = 'loader-container';
                    loaderContainer.innerHTML = `
                        <div class="loader"></div>
                        <div class="loading-text">Loading...</div>
                    `;
                    document.body.appendChild(loaderContainer);
                }
            }    

        function hideLoadingMessage() {
                const loaderContainer = document.querySelector('.loader-container');
                if (loaderContainer) {
                    loaderContainer.remove(); 
                }
            }
    
        $.ajax({
            type: 'POST',
            url: '{% url "clients:renew_subscription" %}', 
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            beforeSend: function() {  
                showLoadingMessage(); 
            },           
            success: function(response) { 
                setTimeout(function() {
                    hideLoadingMessage();               
                   
                }, 3000); 
            },
            error: function(error) {           
                console.error(error);
            }
        });
    }
    </script> 
    


{% endblock %}
