{% extends 'base.html' %}  

{% block content %}



<div class="container-fluid main-content">
    <div class="row"> 
        <div class="col-12 col-md-2"></div>
            <div class="col-12 col-md-8">
                <h4 class="text-center">Are you sure you want to delete ??</h4>       
                <div class="card shadow-lg" style="padding:10px;background-color:azure;">
                    <div class="card-body">
                        <h4>Confirm Deletion</h4>
                            <p>Are you sure you want to delete</p>

                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Confirm Delete</button>
                            </form>

                            <a href="{% url 'core:create_company' %}" class="btn btn-secondary m-1">Cancel</a>

                     </div>
                </div>           
            </div>
            <div class="col-12 col-md-2"></div>
    </div>
</div>





 {% endblock %}