
{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid main-content mb-4">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card shadow-lg" style="background-color: aliceblue;">
                 <!-- Card Header -->
                 <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0"> {% if instance %} Update leave {% else %} Create leave type {% endif %}</h3>
                </div>              
                <form method="POST" enctype="multipart/form-data" class="p-2 m-4">
                    {% csrf_token %}
                    {{ form.as_p }}   
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg"> {% if instance %} Update {% else %} Add {% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>

                        <th>Leave name</th>
                        <th>Description</th>
                        <th>Annual allowance</th>
                        <th>Is carry forwardable?</th> 
                        <th>Max carry forward limit</th> 
                        <th>Is month accruable ?</th>                                    
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in page_obj %}
                        <tr>

                            
                            <td>{{ data.name }}</td>                                                                               
                            <td>{{data.description}}</td>
                            <td>{{data.annual_allowance}}</td>
                            <td>
                                {% if data.allow_carry_forward %}
                                Yes{% else %} No {% endif %}
                            </td>                                                                               
                            <td>{{data.max_carry_forward_limit }}</td>
                            <td>
                                {% if data.accrues_monthly %}
                                Yes{% else %} No {% endif %}
                            </td>       
                                                       
                                                      
                            <td class="text-center">
                                <a href="{% url 'leavemanagement:create_leave_type' %}" class="btn btn-sm btn-info">Create</a>
                                <a href="{% url 'leavemanagement:update_leave_type' data.id %}" class="btn btn-sm btn-info">Edit</a>
                               
                                <a href="#" 
                                    class="btn btn-danger btn-sm" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#deleteModal" 
                                    data-id="{{ data.id }}" 
                                    data-name="{{ data.name }}">
                                        Delete
                                    </a>
                               
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No records available.</td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
                    
            <!-- Pagination Controls -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>


             <!-- Delete Confirmation Modal -->
             <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete the transport record: <strong id="modal-entity-name"></strong>?
                        </div>
                        <div class="modal-footer">
                            <form method="post" id="delete-form">
                                {% csrf_token %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 style="height:10px"></h4>
    
</div>

<div style="height:1400px"></div>


<script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget; 
        const entityId = button.getAttribute('data-id');
        const entityName = button.getAttribute('data-name');

          const modalEntityName = deleteModal.querySelector('#modal-entity-name');
        modalEntityName.textContent = entityName;
  
        const deleteForm = deleteModal.querySelector('#delete-form');
        deleteForm.action = `/leavemanagement/delete_leave_type/${entityId}/`;
    });
</script>




{% endblock %}