
{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div class="container mt-4">
    <h2 class="my-3">Purchase Payment</h2>
    <p> Total Cost:{{ purchase_order.subtotal }}
        VAT:{{ purchase_order.vat_amount }}
        AIT:{{ purchase_order.ait_amount }}
        Total Payable:{{ purchase_order.total_payable }}

    </p>

    <form method="post" novalidate>
        {% csrf_token %}
       <div class="row g-3">

        {% for field in form %}
                <div class="col-12 col-md-4 col-lg-3">
                <label for="{{ field.id_for_label }}" class="form-label fw-semibold">
                    {{ field.label }}
                    {% if field.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>

                {% if field.field.widget.input_type == "checkbox" %}
                <div class="form-check form-switch">
                    {{ field|add_class:'form-check-input' }}
                    <label class="form-check-label small text-muted">{{ field.help_text }}</label>
                </div>
                {% elif field.field.widget.input_type == "textarea" %}
                {{ field|add_class:'form-control' }}
                {% elif field.field.widget.input_type == "select" %}
                {{ field|add_class:'form-select' }}
                {% else %}
                {{ field|add_class:'form-control' }}
                {% endif %}

                {% if field.help_text and field.field.widget.input_type != "checkbox" %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
              <div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
       </div>
    </form>
</div>

{% endblock %}