{% extends "base.html" %}
{% block title %}My Term Invoices{% endblock %}

{% block content %}
{% include 'university_management/quick_access_link.html' %}

<div class="container mt-4">
     <form method="get" class="my-4" id="student-filter-form">
    <select id="student-select" name="q" class="form-control">
        <option value="">Select a student...</option>
        {% for student in students %}
            <option value="{{ student.student_id }}"
                {% if request.GET.q == student.student_id %}selected{% endif %}>
                {{ student.name }} ({{ student.student_id }})
            </option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

    <h2>💳 Term Invoices</h2>

    {% if invoices %}
    <div class="table-responsive">
        <table class="table table-bordered table-sm align-middle">
            <thead class="table-secondary">
                <tr>
                    <th>Term</th>
                    <th>Level</th>
                    <th>Academic Year</th>
                    <th>Total Subjects</th>
                    <th>Total Credits</th>
                    <th>Total Payable</th>
                    <th>Paid</th>
                    <th>Due</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for inv in invoices %}
                <tr>
                    <td>{{ inv.term.name }}</td>
                    <td>{{ inv.level.title }}</td>
                    <td>{{ inv.academic_year }}</td>
                    <td>{{ inv.total_subjects }}</td>
                    <td>{{ inv.total_credits }}</td>
                    <td>{{ inv.total_payable }}</td>
                    <td>{{ inv.total_paid }}</td>
                    <td>{{ inv.due_amount }}</td>
                    <td>{{ inv.status|title }}</td>
                    <td>
                      <a href="{% url 'university_management:student_invoice_detail' inv.id %}?q={{ request.GET.q }}" class="btn btn-sm btn-primary">
                        View
                    </a>

                        {% if inv.due_amount > 0 %}
                        <a href="{% url 'university_management:make_payment' inv.id %}" class="btn btn-sm btn-success">Pay Now</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No invoices generated yet.</p>
    {% endif %}
</div>



<script>
$(document).ready(function () {

    $('#student-select').select2({
        placeholder: "Select a student",
        allowClear: true,
        width: '100%'
    });
 
    $('#student-select').on('select2:select', function () {
        $('#student-filter-form').submit();
    });

});
</script>


{% endblock %}
